<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-box">
      <p class="footer-slogan">
        <span class="selection">Chocolate</span> a delicious cure for a bad day
      </p>

      <div class="footer-contact-box">
        <p class="footer-contact-text">Contact us</p>
        <ul class="footer-social-link-list list">
          <li class="footer-social-link-item">
            <a
              class="link"
              href="https://www.instagram.com/"
              target="_blank"
              aria-label="link to instagram"
            >
              <svg class="footer-social-link" width="22" height="22">
                <use href="./img/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-social-link-item">
            <a
              class="link"
              href="https://twitter.com/"
              target="_blank"
              aria-label="link to twitter"
            >
              <svg class="footer-social-link" width="22" height="22">
                <use href="./img/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
        <ul class="addres-link-list list">
          <li class="addres-link-item">
            <a
              class="addres-link link"
              href="tel:+380(68)4439426"
              aria-label="call"
              >+380 (68) 443-94-26</a
            >
          </li>
          <li class="addres-link-item">
            <a
              class="addres-link link"
              href="mailto:simplychoc@gmail.com"
              aria-label="send mail"
              >simplychoc@gmail.com</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="navigation-box">
      <ul class="navigation-list list">
        <li class="navigation-item">
          <a class="navigation-link link" href="#home" aria-label="Home page"
            >Home</a
          >
        </li>
        <li class="navigation-item">
          <a
            class="navigation-link link"
            href="#how_its_made"
            aria-label="The Making Process"
            >How it&#8217;s made?</a
          >
        </li>
        <li class="navigation-item">
          <a
            class="navigation-link link"
            href="#our_products"
            aria-label="Prise list"
            >Our products</a
          >
        </li>
        <li class="navigation-item">
          <a
            class="navigation-link link"
            href="#top_sellers"
            aria-label="Bestsellers"
            >Top sellers</a
          >
        </li>
        <li class="navigation-item">
          <a
            class="navigation-link link"
            href="#chocolate_is_loved"
            aria-label="Beloved Chocolate"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
