<header class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <a class="logo-link link" href="./index.html"
        >Simply<span class="chocolateword">chocolate</span>
        <svg class="Logo-icon" width="21" height="21">
          <use href="../img/icons.svg#logo-icon"></use></svg
      ></a>
      <ul class="header-nav-list list">
        <li class="header-nav-item">
          <a class="header-nav-link active" href="#home">Home</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#how_its_made">How it's made?</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#our_products">Our produc</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#top_sellers">Top sellers</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#chocolate_is_loved"
            >Chocolate is loved</a
          >
        </li>
      </ul>
    </nav>
    <!-- Addresses -->
    <address class="header-addresses">
      <ul class="header-socials-list list">
        <li class="header-socials-item">
          <a
            class="header-socials-link link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
            aria-label="icon-instagram"
            ><svg class="header-social-icon" width="24" height="24">
              <use href="../img/icons.svg#instagram"></use></svg
          ></a>
        </li>
        <li class="header-socials-item">
          <a
            class="header-socials-link link"
            href=""
            target="_blank"
            rel="noopener noreferrer"
            aria-label="icon-twitter"
            ><svg class="header-social-icon" width="24" height="24">
              <use href="../img/icons.svg#twitter"></use></svg
          ></a>
        </li>
      </ul>
    </address>

    <!-- mobile menu button -->

    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="mobile-menu-icon" width="28" height="28">
        <use href="../img/icons.svg#menu-icon"></use>
      </svg>
    </button>

    <!-- Mobile menuu -->

    <div class="menu-container js-menu-container" id="mobile-menu">
      <button class="menu-toggle js-close-menu">
        <svg class="modal-close-icon" width="11.67" height="11.67">
          <use href="../img/icons.svg#close-modal"></use>
        </svg>
      </button>

      <ul class="mobile-menu">
        <li class="mobile-menu-item">
          <a href="#home" class="mobile-link active">Home</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#How_its_made?" class="mobile-link">How it's made?</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#our_products" class="mobile-link">Our products</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#top_sellers" class="mobile-link">Top sellers</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#chocolate_is_loved" class="mobile-link"
            >Chocolate is loved</a
          >
        </li>
      </ul>
      <address class="mobile-addresses">
        <ul class="mobile-socials list">
          <li class="mobile-socials-item">
            <a
              class="mobile-socials-link link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              aria-label="icon-instagram"
              ><svg class="social-icon" width="22" height="22">
                <use href="../img/icons.svg#instagram"></use></svg
            ></a>
          </li>
          <li class="mobile-socials-item">
            <a
              class="mobile-socials-link link"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              aria-label="icon-twitter"
              ><svg class="social-icon" width="20" height="20">
                <use href="../img/icons.svg#twitter"></use></svg
            ></a>
          </li>
        </ul>
      </address>
    </div>
  </div>
</header>
