<section class="manufacture">
  <div class="manufacture-container">
    <h2 class="manufacture-title">
      how it's <span class="manufacture-made">made?</span>
    </h2>

    <!-- Video -->

    <div class="video">
      <div id="video-wrapper" class="wrapper-video">
        <iframe
          src="https://www.youtube.com/embed/xPe1jMuX32s"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <img
        id="preview-image"
        class="choco-pick"
        src="../img/manufacture/image_mob335.jpg"
        alt="chocolate"
      />
    </div>

    <div class="manufacture-blocks">
      <p class="manufacture-text">
        Try our chocolates today and discover the perfect balance of flavor
      </p>
      <ul class="manufacture-list">
        <li class="manufacture-item">
          Heat the milk in a saucepan without bringing it to a boil. Add sugar
          and cocoa powder.
        </li>
        <li class="manufacture-item">
          At the same time, prepare a water bath. Melt the butter on it.
        </li>
        <li class="manufacture-item">
          "Mix" the milk mixture and already liquid butter. Mix thoroughly with
          a silicone spatula so that the mass becomes uniform and silky.
        </li>
        <li class="manufacture-item">
          Heat the mixture over low heat, letting it barely boil.
        </li>
        <li class="manufacture-item">
          Pour the chocolate into special containers (can be replaced with ice
          molds). Allow to cool and harden.
        </li>
      </ul>
    </div>
  </div>
</section>
