<section class="manufacture" id="how_its_made">
  <div class="manufacture-container">
    <h2 class="manufacture-title">
      how it's <span class="manufacture-made">made?</span>
    </h2>

    <!-- Video -->
    <div class="content">
      <div class="video">
        <div id="video-wrapper" class="wrapper-video">
          <iframe
            src="https://www.youtube.com/embed/xPe1jMuX32s"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
        <img
          id="preview-image"
          class="choco-pick"
          srcset="
            ./img/manufacture/image_mob335.jpg    335w,
            ./img/manufacture/image_mob670.jpg    670w,
            ./img/manufacture/image_tab614.jpg    614w,
            ./img/manufacture/image_tab1228.jpg  1228w,
            ./img/manufacture/image_desk600.jpg   600w,
            ./img/manufacture/image_desk1200.jpg 1200w
          "
          sizes="(min-width:1200px) 600px, (min-width:768px) 614px, (min-width:428px) 375px, 100vw"
          src="./img/manufacture/image_mob335.jpg"
          alt="chocolate"
        />
        <svg
          id="my-svg-icon"
          preview-image
          class="icon-play"
          width="35"
          height="35"
        >
          <use href="./img/icons.svg#icon-play"></use>
        </svg>
      </div>

      <div class="manufacture-blocks">
        <p class="manufacture-text">
          Try our chocolates today and discover the perfect balance of flavor
        </p>
        <ul class="manufacture-list">
          <li class="manufacture-item">
            Heat the milk in a saucepan without bringing it to a boil. Add sugar
            and cocoa powder.
          </li>
          <li class="manufacture-item">
            At the same time, prepare a water bath. Melt the butter on it.
          </li>
          <li class="manufacture-item">
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and silky.
          </li>
          <li class="manufacture-item">
            Heat the mixture over low heat, letting it barely boil.
          </li>
          <li class="manufacture-item">
            Pour the chocolate into special containers (can be replaced with ice
            molds). Allow to cool and harden.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var videoIframe = document.querySelector('.video iframe');
    var previewImage = document.getElementById('preview-image');
    var svgIcon = document.getElementById('my-svg-icon');

    // Обробник події для відео та картинки
    function handleEvent() {
      videoIframe.contentWindow.postMessage(
        '{"event":"command","func":"playVideo","args":""}',
        '*'
      );
      previewImage.style.display = 'none';
      svgIcon.style.display = 'none';
    }

    // Додати обробник події до відео
    videoIframe.addEventListener('click', handleEvent);

    // Додати обробник події до картинки
    previewImage.addEventListener('click', handleEvent);

    // Додати обробник події до svg-іконки
    svgIcon.addEventListener('click', handleEvent);
  });
</script>
