<div class="modalreview overlay js-overlay-modal" data-modal="2">
  <div class="modal">
  <button class="modal-btn" type="button" js-modal-close>
    <svg class="modal-icon" width="24" height="24">
      <use href="../img/icons.svg#close-modal"></use>
    </svg>
  </button>
    <h1 class="modal-title">
      LEAVE A REVIEW ABOUT
      <span class="modal-title-accent">OUR CHOCOLATE</span>
    </h1>
    <form class="modal-form" name="review_form">
      <input
        class="modal-input"
        type="text"
        name="user_name"
        placeholder="Name"
        pattern=""
      />
      <input
        class="modal-input"
        type="email"
        name="user_email"
        placeholder="Enter your email"
        pattern=""
      />
      <!-- <label class="form-label" for="tel"></label> -->
      <div class="form-field">
        <input
          class="modal-input"
          type="tel"
          name="user_phone"
          id="tel"
          placeholder="Phone number"
          pattern=""
        />
        <svg class="form-icon-tel" width="24" height="24">
          <use href="../img/icons.svg#icon-flag-icon"></use>
        </svg>
      </div>
      <textarea
        class="form-comment"
        name="comment"
        rows="6"
        placeholder="Enter text"
      ></textarea>
      <button class="form-btn" type="submit" js-modal-close>Send</button>
    </form>
  </div>
</div>
