<div class="modalexplore">
 <div class="modal" data-modal="3">
  <img src="../img/modal/tetiana-bykovets-mob@1x.jpg" alt="Fon">
    <button class="modalexplore-btn" type="button"  js-modal-close>
      <svg class="modalexplore-icon" width="12" height="12"> 
        <use href="../img/icons.svg#close-modal"></use>
      </svg>
    </button>
    <div class="modalexplore-field">
      <h1 class="modalexplore-title">
        EXPLORE OUR <span class="modalexplore-title-accent">NEW CHOCOLATE</span> FIRST!
      </h1>
      <form class="modalexplore-form" name="email_form">
        <input
          class="modalexplore-form-input"
          type="email"
          name="user_email"
          placeholder="Enter your email"
          pattern=""
        />
        <button class="modalexplore-form-btn" type="submit" js-modal-close>Submit</button>
      </form>
    </div>
 </div>
</div>
<div class="overlay js-overlay-modal"></div>