<div class="modalreview">
  <div class="modal" data-modal="2">
  <button class="modalreview-btn js-modal-close" type="button">
    <svg class="modalreview-icon" width="12" height="12">
      <use href="../img/icons.svg#close-modal"></use>
    </svg>
  </button>
    <div class="modalreview-field">
      <h1 class="modalreview-title">
        LEAVE A REVIEW ABOUT
        <span class="modalreview-title-accent">OUR CHOCOLATE</span>
      </h1>
      <form class="modalreview-form" name="review_form">
        <input
          class="modalreview-input"
          type="text"
          name="user_name"
          placeholder="Name"
          pattern=""
        />
        <input
          class="modalreview-input"
          type="email"
          name="user_email"
          placeholder="Enter your email"
          pattern=""
        />
        <div class="modalreview-field-tel">
          <input
            class="modalreview-input modalreview-input-tel"
            type="tel"
            name="user_phone"
            id="tel"
            placeholder="Phone number"
            pattern=""
          />
          <div class="modalreview-leftinput">
            <svg class="modalreview-icon-tel" width="24" height="24">
              <use href="../img/icons.svg#icon-flag-icon"></use>
            </svg>
            <span class="modalreview-number">+380</span>
          </div>
        </div>
        <textarea
          class="modalreview-comment"
          name="comment"
          rows="6"
          placeholder="Enter text"
        ></textarea>
        <button class="modalreview-form-btn js-modal-close" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
<div class="overlay js-overlay-modal"></div>
