<div class="modalreview overlay js-overlay-modal">
  <button class="modal-btn" type="button" data-modal-close>
    <svg class="modal-icon" width="12" height="12">
      <use href=""></use>
    </svg>
  </button>
  <div class="modal">
    <h1 class="modal-title">
      LEAVE A REVIEW ABOUT
      <span class="modal-title-accent">OUR CHOCOLATE</span>
    </h1>
    <form class="modal-form" name="review_form">
      <input
        class="modal-input"
        type="text"
        name="user_name"
        placeholder="Name"
        required
      />
      <input
        class="modal-input"
        type="email"
        name="user_email"
        placeholder="Enter your email"
        required
      />
      <!-- <label class="form-label" for="tel"></label> -->
      <div class="form-field">
        <input
          class="modal-input"
          type="tel"
          name="user_phone"
          id="tel"
          placeholder="Phone number"
          required
        />
        <svg class="form-icon-tel" width="24" height="24">
          <use href=""></use>
        </svg>
      </div>
      <textarea
        class="form-comment"
        name="comment"
        rows="6"
        placeholder="Enter text"
      ></textarea>
      <button class="form-btn" type="submit">Send</button>
    </form>
  </div>
</div>
