<section class="products">
  <div class="container">
    <!-- Our products section -->
    <h2 class="our-products-title">
      Our <span class="our-products-title-accent">products</span>
    </h2>

    <!-- Slider -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <img
            class="our-products-img"
            srcset="
              ../img/products/product_1@1x.jpg 1x,
              ../img/products/product_1@2x.jpg 2x
            "
            src="../img/products/product_1.jpg"
            alt="product_1"
            width="230"
            height="201"
          />
          <div class="our-products-text-wrapper">
            <h3 class="our-products-subtitle">orange</h3>
            <p class="our-products-descr">Dark chocolate</p>
            <button type="button" class="our-products-price">45 UAH</button>
          </div>
        </li>

        <li class="swiper-slide">
          <img
            class="our-products-img"
            srcset="
              ../img/products/product_2@1x.jpg 1x,
              ../img/products/product_2@2x.jpg 2x
            "
            src="../img/products/product_2.jpg"
            alt="product_2"
            width="230"
            height="201"
          />
          <div class="our-products-text-wrapper">
            <h3 class="our-products-subtitle">apple&#38;cranberry</h3>
            <p class="our-products-descr">Milk chocolate</p>
            <button type="button" class="our-products-price">50 UAH</button>
          </div>
        </li>

        <li class="swiper-slide">
          <img
            class="our-products-img"
            srcset="
              ../img/products/product_3@1x.jpg 1x,
              ../img/products/product_3@2x.jpg 2x
            "
            src="../img/products/product_3.jpg"
            alt="product_3"
            width="230"
            height="201"
          />
          <div class="our-products-text-wrapper">
            <h3 class="our-products-subtitle">lime&#38;sea salt</h3>
            <p class="our-products-descr">Dark chocolate</p>
            <button type="button" class="our-products-price">66 UAH</button>
          </div>
        </li>

        <li class="swiper-slide">
          <img
            class="our-products-img"
            srcset="
              ../img/products/product_4@1x.jpg 1x,
              ../img/products/product_4@2x.jpg 2x
            "
            src="../img/products/product_4.jpg"
            alt="product_4"
            width="230"
            height="201"
          />
          <div class="our-products-text-wrapper">
            <h3 class="our-products-subtitle">pineapple</h3>
            <p class="our-products-descr">Dark chocolate</p>
            <button type="button" class="our-products-price">54 UAH</button>
          </div>
        </li>

        <li class="swiper-slide">
          <img
            class="our-products-img"
            srcset="
              ../img/products/product_5@1x.jpg 1x,
              ../img/products/product_5@2x.jpg 2x
            "
            src="../img/products/product_5.jpg"
            alt="product_5"
            width="230"
            height="201"
          />
          <div class="our-products-text-wrapper">
            <h3 class="our-products-subtitle">classic</h3>
            <p class="our-products-descr">Milk chocolate</p>
            <button type="button" class="our-products-price">45 UAH</button>
          </div>
        </li>

        <li class="swiper-slide">
          <img
            class="our-products-img"
            srcset="
              ../img/products/product_6@1x.jpg 1x,
              ../img/products/product_6@2x.jpg 2x
            "
            src="../img/products/product_6.jpg"
            alt="product_6"
            width="230"
            height="201"
          />
          <div class="our-products-text-wrapper">
            <h3 class="our-products-subtitle">honey</h3>
            <p class="our-products-descr">Milk chocolate</p>
            <button type="button" class="our-products-price">50 UAH</button>
          </div>
        </li>

        <li class="swiper-slide">
          <img
            class="our-products-img"
            srcset="
              ../img/products/product_7@1x.jpg 1x,
              ../img/products/product_7@2x.jpg 2x
            "
            src="../img/products/product_7.jpg"
            alt="product_7"
            width="230"
            height="201"
          />
          <div class="our-products-text-wrapper">
            <h3 class="our-products-subtitle">roasted fruits</h3>
            <p class="our-products-descr">Dark chocolate</p>
            <button type="button" class="our-products-price">66 UAH</button>
          </div>
        </li>

        <li class="swiper-slide">
          <img
            class="our-products-img"
            srcset="
              ../img/products/product_8@1x.jpg 1x,
              ../img/products/product_8@2x.jpg 2x
            "
            src="../img/products/product_8.jpg"
            alt="product_8"
            width="230"
            height="201"
          />
          <div class="our-products-text-wrapper">
            <h3 class="our-products-subtitle">classic</h3>
            <p class="our-products-descr">White chocolate</p>
            <button type="button" class="our-products-price">54 UAH</button>
          </div>
        </li>
      </ul>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>

<!-- <ul class="our-products-list">
  <li class="swiper-slide">
    <img
      class="our-products-img"
      srcset="
        ../img/products/product_1@1x.jpg 1x,
        ../img/products/product_1@2x.jpg 2x
      "
      src="../img/products/product_1.jpg"
      alt="product_1"
      width="230"
      height="201"
    />
    <div class="our-products-text-wrapper">
      <h3 class="our-products-subtitle">orange</h3>
      <p class="our-products-descr">Dark chocolate</p>
      <button type="button" class="our-products-price">45 UAH</button>
    </div>
  </li>

  <li class="swiper-slide">
    <img
      class="our-products-img"
      srcset="
        ../img/products/product_2@1x.jpg 1x,
        ../img/products/product_2@2x.jpg 2x
      "
      src="../img/products/product_2.jpg"
      alt="product_2"
      width="230"
      height="201"
    />
    <div class="our-products-text-wrapper">
      <h3 class="our-products-subtitle">apple&#38;cranberry</h3>
      <p class="our-products-descr">Milk chocolate</p>
      <button type="button" class="our-products-price">50 UAH</button>
    </div>
  </li>

  <li class="swiper-slide">
    <img
      class="our-products-img"
      srcset="
        ../img/products/product_3@1x.jpg 1x,
        ../img/products/product_3@2x.jpg 2x
      "
      src="../img/products/product_3.jpg"
      alt="product_3"
      width="230"
      height="201"
    />
    <div class="our-products-text-wrapper">
      <h3 class="our-products-subtitle">lime&#38;sea salt</h3>
      <p class="our-products-descr">Dark chocolate</p>
      <button type="button" class="our-products-price">66 UAH</button>
    </div>
  </li>

  <li class="swiper-slide">
    <img
      class="our-products-img"
      srcset="
        ../img/products/product_4@1x.jpg 1x,
        ../img/products/product_4@2x.jpg 2x
      "
      src="../img/products/product_4.jpg"
      alt="product_4"
      width="230"
      height="201"
    />
    <div class="our-products-text-wrapper">
      <h3 class="our-products-subtitle">pineapple</h3>
      <p class="our-products-descr">Dark chocolate</p>
      <button type="button" class="our-products-price">54 UAH</button>
    </div>
  </li>

  <li class="swiper-slide">
    <img
      class="our-products-img"
      srcset="
        ../img/products/product_5@1x.jpg 1x,
        ../img/products/product_5@2x.jpg 2x
      "
      src="../img/products/product_5.jpg"
      alt="product_5"
      width="230"
      height="201"
    />
    <div class="our-products-text-wrapper">
      <h3 class="our-products-subtitle">classic</h3>
      <p class="our-products-descr">Milk chocolate</p>
      <button type="button" class="our-products-price">45 UAH</button>
    </div>
  </li>

  <li class="swiper-slide">
    <img
      class="our-products-img"
      srcset="
        ../img/products/product_6@1x.jpg 1x,
        ../img/products/product_6@2x.jpg 2x
      "
      src="../img/products/product_6.jpg"
      alt="product_6"
      width="230"
      height="201"
    />
    <div class="our-products-text-wrapper">
      <h3 class="our-products-subtitle">honey</h3>
      <p class="our-products-descr">Milk chocolate</p>
      <button type="button" class="our-products-price">50 UAH</button>
    </div>
  </li>

  <li class="swiper-slide">
    <img
      class="our-products-img"
      srcset="
        ../img/products/product_7@1x.jpg 1x,
        ../img/products/product_7@2x.jpg 2x
      "
      src="../img/products/product_7.jpg"
      alt="product_7"
      width="230"
      height="201"
    />
    <div class="our-products-text-wrapper">
      <h3 class="our-products-subtitle">roasted fruits</h3>
      <p class="our-products-descr">Dark chocolate</p>
      <button type="button" class="our-products-price">66 UAH</button>
    </div>
  </li>

  <li class="swiper-slide">
    <img
      class="our-products-img"
      srcset="
        ../img/products/product_8@1x.jpg 1x,
        ../img/products/product_8@2x.jpg 2x
      "
      src="../img/products/product_8.jpg"
      alt="product_8"
      width="230"
      height="201"
    />
    <div class="our-products-text-wrapper">
      <h3 class="our-products-subtitle">classic</h3>
      <p class="our-products-descr">White chocolate</p>
      <button type="button" class="our-products-price">54 UAH</button>
    </div>
  </li>
</ul> -->
