<!-- Це тільки приклад, налаштовувати треба самостійно -->

<!-- Slider main container -->
<section class="reviews" id="chocolate_is_loved">
  <div class="container">
    <h2 class="reviews-title">
      <span class="reviews-title-style">chocolate</span> is loved
    </h2>
    <!-- Slider -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <img
            class="reviews-img"
            srcset="
              ./img/reviews/Ellipse_review1@1x.jpg 1x,
              ./img/reviews/Ellipse_review1@2x.jpg 2x
            "
            src="./img/reviews/Ellipse_review1@1x.jpg"
            alt=""
            width="80"
            height="80"
            loading="lazy"
          />
          <h4 class="reviews-list-title">Victoria Dobrzhanska</h4>
          <p class="reviews-list-txt">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </li>
        <li class="swiper-slide">
          <img
            class="reviews-img"
            srcset="
              ./img/reviews/Ellipse_review2@1x.jpg 1x,
              ./img/reviews/Ellipse_review2@2x.jpg 2x
            "
            src="./img/reviews/Ellipse_review2@1x.jpg"
            alt=""
            width="80"
            height="80"
            loading="lazy"
          />
          <h4 class="reviews-list-title">Nazar Babenko</h4>
          <p class="reviews-list-txt">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </li>
        <li class="swiper-slide">
          <img
            class="reviews-img"
            srcset="
              ./img/reviews/Ellipse_review3@1x.jpg 1x,
              ./img/reviews/Ellipse_review3@2x.jpg 2x
            "
            src="./img/reviews/Ellipse_review3@1x.jpg"
            alt=""
            width="80"
            height="80"
            loading="lazy"
          />
          <h4 class="reviews-list-title">Olena Kampusch</h4>
          <p class="reviews-list-txt">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </li>
        <li class="swiper-slide">
          <img
            class="reviews-img"
            srcset="
              ./img/reviews/Ellipse_review4@1x.jpg 1x,
              ./img/reviews/Ellipse_review4@2x.jpg 2x
            "
            src="./img/reviews/Ellipse_review4@1x.jpg"
            alt=""
            width="80"
            height="80"
            loading="lazy"
          />
          <h4 class="reviews-list-title">Natalia Sus</h4>
          <p class="reviews-list-txt">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </li>
        <li class="swiper-slide">
          <img
            class="reviews-img"
            srcset="
              ./img/reviews/Ellipse_review5@1x.jpg 1x,
              ./img/reviews/Ellipse_review5@2x.jpg 2x
            "
            src="./img/reviews/Ellipse_review5@1x.jpg"
            alt=""
            width="80"
            height="80"
            loading="lazy"
          />
          <h4 class="reviews-list-title">Danilo Nottingham</h4>
          <p class="reviews-list-txt">
            This is delicious. It so rich and flavorful you don&#8217;t need to
            use as many. I love topping an apple with almond butter and these
            chips for a snack.
          </p>
        </li>
        <li class="swiper-slide">
          <img
            class="reviews-img"
            srcset="
              ./img/reviews/Ellipse_review6@1x.jpg 1x,
              ./img/reviews/Ellipse_review6@2x.jpg 2x
            "
            src="./img/reviews/Ellipse_review6@1x.jpg"
            alt=""
            width="80"
            height="80"
            loading="lazy"
          />
          <h4 class="reviews-list-title">Irina Tydnyuk</h4>
          <p class="reviews-list-txt">
            This is simply the best chocolate around, and I'm just thrilled to
            support a local company! Best local chocolate - world class :&#41;
          </p>
        </li>
      </ul>
      <div class="swiper-pagination reviews-swiper-pagination"></div>
      <button type="button" class="reviews-btn js-open-modal" data-modal="2">
        Leave a review
      </button>
    </div>
  </div>
</section>
