<section id="top_sellers" class="sellers">
  <div class="sellers-container container">
    <h2 class="sellers-item-top">
      TOP <span class="sellers-item"> SELLERS</span>
    </h2>
    <ul class="sellers-list">
      <li class="sellers-list-img">
        <img
          srcset="./img/sellers/sellers-img01@2x.jpg 2x"
          src="./img/sellers/sellers-img01.jpg"
          alt="Chocolate-1"
        />
        <p class="sellers-text">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="sellers-list-img">
        <img
          srcset="./img/sellers/sellers-img02@2x.jpg 2x"
          src="./img/sellers/sellers-img02.jpg"
          alt="Chocolate-2"
        />
      </li>
      <li class="sellers-list-img sellers-list-img3">
        <img
          srcset="./img/sellers/sellers-img03@2x.jpg 2x"
          src="./img/sellers/sellers-img03.jpg"
          alt="Chocolate-3"
        />
      </li>
    </ul>
    <div class="sellers-list-item">
      <button class="sellers-btn-text sellers-btn" type="button" data-modal="1">
        Buy now
      </button>
    </div>
  </div>
</section>
