.advantages-section {
  background-color: black;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.advantages-container {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.advantages-icons-contaner {
  width: 62px;
  height: 62px;
  border: 1px solid rgb(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}

.advantafes-list {
  display: flex;
  column-gap: 70px;
}

.advantages-list-item {}

.advantages-list-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  margin-bottom: 18px;
}



.advantages-icons {

  fill: #FD9222;

}