.manufacture-container {
  max-width: 375px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .manufacture-container {
    max-width: 768px;
    padding: 0px 77px;
  }
}

@media only screen and (min-width: 1200px) {
  .manufacture-container {
    max-width: 1200px;
    padding: 0px 32px;
  }
}

.manufacture-title {
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.03em;
}

@media only screen and (min-width: 768px) {
  .manufacture-title {
    margin-bottom: 50px;

    font-size: 24px;
    line-height: 1.17;
  }
}

.manufacture-made {
  color: var(--color-orange);
}

@media only screen and (min-width: 1200px) {
  .content {
    display: flex;
  }
}

/* video */

.video {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 335px;
  border-radius: 15px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .video {
    max-width: 614px;
  }
}

@media only screen and (min-width: 1200px) {
  .video {
    width: 600px;
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.video iframe {
  min-height: 500px;
  width: 100%;
  display: block;
}

@media only screen and (min-width: 768px) {
  .video iframe {
    min-height: 400px;
  }
}

.choco-pick {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  cursor: pointer;
}

.icon-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media only screen and (min-width: 768px) {
  .icon-play {
    width: 44px;
    height: 44px;
    cursor: pointer;
  }
}

/* manufacture list */

.manufacture-blocks {
  padding: 20px 14px;
  max-width: 335px;

  background-color: #ffffff;
  border-radius: 15px;
}

@media only screen and (min-width: 768px) {
  .manufacture-blocks {
    max-width: 614px;
    padding: 32px;
    padding-right: 102px;
  }
}

@media only screen and (min-width: 1200px) {
  .manufacture-blocks {
    max-width: 518px;
    padding: 32px 59px 34px 32px;
  }
}

.manufacture-text {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}

@media only screen and (min-width: 768px) {
  .manufacture-text {
    padding-right: 140px;
    margin-bottom: 28px;
  }
}

.manufacture-list {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.manufacture-item {
  position: relative;
  margin-left: 8px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.manufacture-item::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  left: -12px;
  top: 5px;

  background: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;
}
