.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

/* Стили для модальных окон */

.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;

  /*  Установаем ширину окна  */
  width: 95%;
  max-width: 311px;

  /*  Центрируем и задаем z-index */
  position: fixed;
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  /* Должен быть выше чем у подложки*/

  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: #fff;
  transition: 0.3s all;
}
.modalbynow .modal {
  max-height: 95%;
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
  overflow: auto;
}
::-webkit-scrollbar {
  width: 0;
}

@media only screen and (max-width: 1199px) {
  .modal.active,
  .overlay.active {
    overflow: auto;
  }
}

@media only screen and (min-width: 768px) {
  .modal {
    max-width: 609px;
  }
}
.modal-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
@media only screen and (min-width: 768px) {
  .modal-btn {
    width: 28px;
    height: 28px;
  }
}
.modal-icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 768px) {
  .modal-icon {
    width: 14px;
    height: 14px;
  }
}
.modal-field {
  padding: 32px 24px;
}
@media only screen and (min-width: 768px) {
  .modal-field {
    padding: 48px 48px;
  }
}
.modal-title {
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .modal-title {
    font-size: 24px;
    line-height: 1.17;
  }
}
.modal-title-accent {
  color: var(--color-orange);
}

.modal-order-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .modal-order-list {
    flex-direction: row;
    gap: 16px;
    margin-bottom: 40px;
  }
}
.modal-item {
  display: flex;
  gap: 18px;
  padding-right: 16px;
  padding-left: 16px;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}
@media only screen and (min-width: 768px) {
  .modal-item {
    flex-direction: column;
    gap: 14px;
    padding-top: 24px;
    padding-bottom: 18px;
  }
}
.modal-img {
  background-color: #ffffff;
}

.modal-order-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  min-width: 70px;
  height: 29px;
  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  transition: color var(--anim-fast), background-color var(--anim-fast);
}

@media only screen and (min-width: 768px) {
  .modal-order-btn {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 96px;
  }
}
.modal-order-btn:active,
.modal-order-btn:hover,
.modal-order-btn:focus {
  background-color: var(--color-orange);
  color: var(--color-txt-wite);
}

.form-label {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .form-label {
    font-size: 14px;
    line-height: 1.3;
  }
}
.form-label-name {
  margin-bottom: 18px;
}
.form-input-name {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 8px;
}
@media only screen and (min-width: 768px) {
  .form-input-name {
    flex-direction: row;
  }
}
.form-input {
  width: 100%;
  height: 45px;
  padding: 14px 18px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  outline: none;
}

@media only screen and (min-width: 768px) {
  .form-input {
    height: 66px;
    padding: 22px 24px;
    font-size: 18px;
    line-height: 1.2;
  }
}
.form-input:focus {
  border-color: var(--color-orange);
}
.form-input:not(:placeholder-shown):required:valid {
  border-color: #4caf50;
}

.form-input:not(:placeholder-shown):required:invalid {
  border-color: #f44336;
}
.form-field-tel {
  position: relative;
  margin-bottom: 18px;
}
.form-input-tel {
  padding-left: 106px;
}
@media only screen and (min-width: 768px) {
  .form-input-tel {
    padding-left: 177px;
  }
}

.modal-leftinput {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
  border-right: 2px solid #1111110d;
}
@media only screen and (min-width: 768px) {
  .modal-leftinput {
    left: 24px;
    padding-right: 32px;
  }
}
@media only screen and (min-width: 768px) {
  .form-icon-tel {
    width: 32px;
    height: 32px;
  }
}
.modal-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #000000;
}
@media only screen and (min-width: 768px) {
  .modal-number {
    font-size: 18px;
  }
}
.form-field-email {
  margin-bottom: 18px;
}
.form-input-card {
  margin-bottom: 18px;
}

.form-field-card {
  position: relative;
  margin-bottom: 18px;
}

.form-icon-card {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
}
@media only screen and (min-width: 768px) {
  .form-icon-card {
    width: 44px;
    height: 30px;
    right: 24px;
  }
}
.form-comment {
  display: block;
  width: 100%;
  padding: 14px 18px;
  height: 91px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2px;
  margin-bottom: 18px;
  outline: none;
}
@media only screen and (min-width: 768px) {
  .form-comment {
    padding: 24px 22px;
    font-size: 18px;
    line-height: 1.2;
  }
}
.form-comment:focus {
  border-color: var(--color-orange);
}
.form-btn {
  display: flex;
  align-items: center;
  padding: 12px 28px;
  width: 109px;
  height: 41px;
  background: var(--color-orange);
  border-radius: 100px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: var(--color-txt-wite);
  transition: color var(--anim-fast), background-color var(--anim-fast);
}
@media only screen and (min-width: 768px) {
  .form-btn {
    padding: 14px 40px;
    width: 133px;
    height: 45px;
    font-size: 14px;
    line-height: 1.2;
  }
}
.form-btn:active,
.form-btn:hover,
.form-btn:focus {
  background-color: #fcf1e0;
  color: var(--color-orange);
}
