/* Дивись приклад налаштування у файлі Modal.css */
.modalreview {
  background-color: orchid;
}
.overlay/ {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

/* Стили для модальных окон */

.modal/ {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;

  /*  Установаем ширину окна  */
  width: 95%;
  max-width: 311px;

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  /* Должен быть выше чем у подложки*/

  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  /* text-align: center;
  padding: 30px; */
  border-radius: 15px;
  background-color: #fff;
  transition: 0.3s all;
}

/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}
@media only screen and (min-width: 768px) {
  .modal {
    max-width: 517px;
  }
}
.modalreview-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
@media only screen and (min-width: 768px) {
  .modalreview-btn {
    width: 28px;
    height: 28px;
  }
}
.modalreview-icon {
  /* display: inline-block;
  position: absolute;
  top: 6px;
  left: 6px; */
  fill: #111111;
}
@media only screen and (min-width: 768px) {
  .modalreview-icon {
    width: 14px;
    height: 14px;
  }
}
.modalreview-title {
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  /* text-align: center; */
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .modalreview-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 40px;
  }
}
.modalreview-title-accent {
  color: var(--color-orange);
}
.modalreview-field {
  padding: 32px 24px;
}
@media only screen and (min-width: 768px) {
  .modalreview-field {
    padding: 40px 40px;
  }
}
.modalreview-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.modalreview-input {
  display: block;
  width: 100%;
  height: 45px;
  padding: 14px 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
}
@media only screen and (min-width: 768px) {
  .modalreview-input {
    height: 66px;
    padding: 22px 24px;
    font-size: 18px;
  }
}
.modalreview-input-tel {
  padding-left: 106px;
}
@media only screen and (min-width: 768px) {
  .modalreview-input-tel {
    padding-left: 153px;
  }
}
.modalreview-field-tel {
  position: relative;
}
.modalreview-leftinput {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 8px;
  border-right: 2px solid #1111110d;
}
@media only screen and (min-width: 768px) {
  .modalreview-leftinput {
    left: 24px;
    padding-right: 32px;
  }
}
.modalreview-icon-tel {
  width: 32px;
  height: 32px;
}
.modalreview-number {
  /* position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%); */
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #000000;
}
@media only screen and (min-width: 768px) {
  .modalreview-number {
    font-size: 18px;
  }
}
.modalreview-comment {
  display: block;
  width: 100%;
  padding: 14px 18px;
  height: 91px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2px;
}
@media only screen and (min-width: 768px) {
  .modalreview-comment {
    padding: 22px 24px;
    font-size: 18px;
  }
}
.modalreview-form-btn {
  display: flex;
  align-items: center;
  padding: 12px 28px;
  width: 93px;
  height: 41px;
  background: var(--color-orange);
  border-radius: 100px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: var(--color-txt-wite);
}
@media only screen and (min-width: 768px) {
  .modalreview-form-btn {
    width: 117px;
    height: 45px;
    padding: 14px 40px;
  }
}
.modalreview-form-btn:active {
  background-color: #fcf1e0;
  color: var(--color-orange);
}
