.modalexplore {
}
.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

/* Стили для модальных окон */

.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;

  /*  Установаем ширину окна  */
  width: 95%;
  max-width: 311px;

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  /* Должен быть выше чем у подложки*/

  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  /* text-align: center;
  padding: 30px; */
  border-radius: 15px;
  background-color: #fff;
  transition: 0.3s all;
}

@media only screen and (min-width: 768px) {
  .modal {
    max-width: 538px;
  }
}
.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}
.modalexplore .modal {
  overflow: hidden;
}
/* Стили для кнопки закрытия */

.modalexplore-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
@media only screen and (min-width: 768px) {
  .modalexplore-btn {
    width: 28px;
    height: 28px;
  }
}
.modalexplore-icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--color-txt-wite);
}
@media only screen and (min-width: 768px) {
  .modalexplore-icon {
    width: 14px;
    height: 14px;
  }
}
.modalexplore-field {
  padding: 32px 24px;
}
@media only screen and (min-width: 768px) {
  .modalexplore-field {
    padding: 40px 40px;
  }
}
.modalexplore-title {
  display: block;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  /* text-align: center; */
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .modalexplore-title {
    max-width: 298px;
    font-size: 24px;
  }
}
.modalexplore-title-accent {
  color: var(--color-orange);
}

.modalexplore-form {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .modalexplore-form {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.modalexplore-form-input {
  display: block;
  width: 100%;
  height: 45px;
  padding: 14px 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  filter: drop-shadow(0px 5.44492px 5.44492px rgba(0, 0, 0, 0.03));
  border-radius: 25px;
  /* align-self: stretch; */
  padding-right: 120px;
}
@media only screen and (min-width: 768px) {
  .modalexplore-form-input {
    display: flex;
    max-width: 313px;
    height: 52px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
  }
}
.modalexplore-form-btn {
  position: absolute;
  right: 2px;
  bottom: 2px;
  display: flex;
  align-items: center;
  padding: 14px 22px;
  width: 109px;
  height: 41px;
  background: var(--color-orange);
  border-radius: 100px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
  transition: color var(--anim-fast), background-color var(--anim-fast);
  /* z-index: 2; */
}
@media only screen and (min-width: 768px) {
  .modalexplore-form-btn {
    position: static;
    width: 137px;
    height: 52px;
    padding: 18px 33px;
  }
}
.modalexplore-form-btn:active,
.modalexplore-form-btn:hover,
.modalexplore-form-btn:focus {
  background-color: #fcf1e0;
  color: var(--color-orange);
}
