/* General styles */
.products .container {
  overflow: hidden;
}

.products .swiper {
  height: 397px;
}

.products .swiper-slide {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
  height: 364px;

  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

.products .swiper-pagination {
  display: flex;
  justify-content: center;
}

.our-products-title {
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.our-products-title-accent {
  color: var(--color-orange);
}

.our-products-item {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 335px;

  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

.our-products-img {
  margin: 0 auto;
  margin-bottom: 8px;
}

.our-products-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-products-subtitle {
  margin-bottom: 2px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.our-products-descr {
  margin-bottom: 18px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;

  color: rgba(17, 17, 17, 0.7);
}

.our-products-price {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 19px;
  min-width: 94px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  background: var(--color-wite);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;

  transition: var(--anim-fast);
}

.our-products-price:hover,
.our-products-price:focus {
  background-color: var(--color-orange);
  color: var(--color-txt-wite);
  border: var(--color-orange);
}

/* Mobile >375px */
@media only screen and (max-width: 280px) {
  .products .swiper-pagination {
    gap: 0px;
  }
}
@media only screen and (min-width: 280px) and (max-width: 328.8px) {
  .products .swiper-pagination {
    gap: 6px;
  }
}
/* Mobile <=375px */
@media only screen and (min-width: 375px) and (max-width: 767.8px) {
  .products .swiper {
    width: 335px;
  }
}

@media only screen and (min-width: 329px) {
  .products .swiper-pagination {
    gap: 13px;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1199.8px) {
  .products .swiper-pagination {
    width: 703px;
  }
}

/* Tablet and desktop */


@media only screen and (min-width: 768px) {
  .products .swiper {
      height: 408px;
    }
    
  .our-products-title {
    margin-bottom: 50px;

    font-size: 24px;
    line-height: 1.17;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .products .swiper-slide {
    width: calc((100% - 18px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .products .swiper-slide {
    width: calc((100% - 54px) / 4);
  }
}