.products {
  background-color: #fafafa;
  overflow: hidden;
}

/* Swiper */

.products .swiper {
  width: 335px;
  height: 397px;
}

.products .swiper-wrapper {
  height: 364px;
}

@media only screen and (min-width: 768px) {
  .products .swiper {
    width: 1136px;
    height: 409px;
  }
}

/* .products .swiper-wrapper{

}
 */

.products .swiper-slide {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 335px;

  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

@media only screen and (min-width: 768px) {
  .products .swiper-slide {
    width: 270px;
  }
}

.products .swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 13px;
}

/* @media screen and (max-width: 375px) {
  .products .swiper-pagination {
    max-width: 375px;
  }
} */

@media screen and (max-width: 768px) {
  .products .swiper-pagination {
    max-width: 768px;
  }
}

@media screen and (min-width: 769px) {
  .products .swiper-pagination {
    max-width: 100%;
  }
}

/* .our-product-swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background: rgba(17, 17, 17, 0.1);
}

.our-product-swiper-pagination-bullet-active {
  width: 28px;
  background: var(--color-orange);
  border-radius: 30px;
} */

.our-products-title {
  margin-bottom: 32px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .our-products-title {
    margin-bottom: 50px;

    font-size: 24px;
    line-height: 1.17;
  }
}

.our-products-title-accent {
  color: var(--color-orange);
}

/* .our-products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
} */

.our-products-item {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 335px;

  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

.our-products-img {
  margin: 0 auto;
}

.our-products-text-wrapper {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-products-subtitle {
  margin-bottom: 2px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  /* text-align: center; */
}
.our-products-descr {
  margin-bottom: 18px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  /* text-align: center; */

  color: rgba(17, 17, 17, 0.7);
}

.our-products-price {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 19px;
  min-width: 94px;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  /* text-align: center; */

  background: var(--color-wite);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
}
