/* Це тільки приклад! */

/* .swiper {
  width: 600px;
  height: 300px;
} */
.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}
.swiper-pagination-bullet-active {
  background-color: var(--color-orange);
}

.reviews {
  background-color: aquamarine;
}
