.reviews {
  background-color: var(--color-wite);
}

.reviews-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--color-black);

  margin-bottom: 32px;
}

.reviews .swiper{
  padding-top: 42px;
}

.reviews-title-style {
  color: var(--color-orange);
}

.swiper-wrapper {
  display: flex;
  height: auto;
}

.swiper-slide {
  position: relative;
  height: 200px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;

  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
  margin-bottom: 20px;
}

.reviews-img {
  position: absolute;
  top: -42px;
  left: calc(50% - 40px);
  margin-bottom: 18px;
  border-radius: 50%;
}

.reviews-list-title {
  margin-top: 56px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: var(--color-black);

  margin-bottom: 24px;
}

.reviews-list-txt {
  margin: 0 18px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.reviews-swiper-pagination {
  position: static;
  margin-bottom: 26px;
}


.reviews-btn {
  display: flex;
  padding: 12px 28px;
  margin: 0 auto;

  background-color: var(--color-wite);
  width: 165px;
  height: 41px;
  border: 1px solid #fd9222;
  border-radius: 100px;

  transition: var(--anim-fast);
}

/* Slider Pagination */
.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
}
.swiper-pagination-bullet-active {
  width: 28px;
  border-radius: 0.5rem;
  background-color: var(--color-orange);

  transition: var(--anim-fast);
}

.reviews-btn:hover,
.reviews-btn:focus {
  color: var(--color-wite);
  background: var(--color-orange);
}


/* Mobile */

@media screen and (max-width: 767px) {
  .reviews .swiper {
      height: 368px;
    }

    .reviews .swiper-wrapper{
      width: 101%;
    }
}


/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1199px) {

  .reviews-title {
    margin-bottom: 42px;
  }

    .swiper-slide {
    width: calc((100% - 18px) / 2);
  }

  .reviews-list-txt {
   margin: 0 16px;
  }

  .reviews-swiper-pagination {
  margin-bottom: 50px;
  }
}


/* Desctop */

@media only screen and (min-width: 1200px) {

  .swiper-slide {
   width: calc((100% - 46px) / 3);
  }

  .reviews-list-txt {
    margin: 0 24px;
  }
}
