/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./components.css');
@import url('./manufacture.css');
@import url('./products.css');
@import url('./sellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');

/* Modals */

@import url('./modalbynow.css');
@import url('./modalreview.css');
@import url('./modalexplore.css');

@import url('./footer.css');

:root {
  --primary-font: 'Montserrat', sans-serif;
  --logo-font: 'Montserrat', sans-serif;
  /* Color */
  --color-black: #111111;
  --color-dark-violet: #1e1823;
  --color-orange: #fd9222;
  --color-wite: #fafafa;

  /* Others */
  --indent-horizontal: 32px;
  --indent-vertical: 20px;
  --items: 1;

  --anim-superfast: 150ms ease-in;
  --anim-fast: 300ms ease-in;
  --anim-slow: 800ms ease;
}

body {
  font-family: var(--primary-font, sans-serif);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.02em;
  color: var(--color-black);
  background-color: #fafafa;
}

section:not(:last-child) {
  margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
  section:not(:last-child) {
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  section:not(:last-child) {
    margin-bottom: 128px;
  }
}

.container {
  position: relative;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
